.container{
  text-align: center;
}
div {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
}

a {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 0.5rem;

}

a:hover {
  text-decoration: underline;
}