body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

form {
  width: 80%;
  background-color: #ffffff;
  padding: 50px;
  margin: 20px auto;
  max-width: 1000px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.errorText {
  color: red;
}

.addNewRecipeContainer input[type="text"],
.addNewRecipeContainer input[type="number"],
.addNewRecipeContainer input[type="time"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="radio"] {
  margin-right: 5px;
}

label {
  display: block;
  margin: 5px 0;
  font-weight: bold;
}

.itemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
  padding: 0 10px;
  padding-bottom: 5px;
}

.inputContainer {
  background-color: rgb(236, 235, 235);
  margin-bottom: 5px;
}

.addButton {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.addButton:hover {
  background-color: #45a049;
  border-color: #3e8e41;
}

.removeButton {
  background-color: #e74a3b;
  color: white;
  border: 1px solid #e74a3b;
  float: left;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  display: block;
}

.removeButton:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}


.recipeModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalButtons{
  padding: 0px;
}

.recipeModalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 65%;
  max-height: 90%;
  overflow-y: auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalSubmitButton {
  padding: 10px 20px;
  font-size: 16px;
  background: #5bc0de;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 10px;
}

.modalSubmitButton:hover {
  background-color: #31b0d5;
}

.cancelButton {
  margin-left: 10px;
  background-color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modalImage {
  width: 50%;
}

.recipeDetails p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 2px;
  border-bottom: 1px solid #ddd;
}

.recipeDetails .label {
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
  margin-left: 7px;
}

.recipeDetails span {
  color: #333;
}

.recipeDetails p:last-child {
  border-bottom: none;
}

.recipeDetails {
  text-align: left;
  direction: rtl;
  margin: 5px;
  padding: 5px;
}