.content {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

@media (min-width: 1024px) {
  .item {
    grid-template-columns: repeat(3, 1fr);
  }
}