/* .header-container {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .header-container p {
    margin: 5px 0 0;
    color: #666;
  }
   */

   /* סטייל כללי */
.content {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* סטייל עבור תצוגת מתכונים */
.item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

@media (min-width: 1024px) {
  .item {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* סטייל עבור פריט מתכון */
.recipeItem {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* background: #fff; */
}

.submitButton {
  background-color:  #f8f9fa;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submitButton:hover  {
  background-color: #d0d0d0;
}
