.tags-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* שני טורים */
    gap: 10px; /* רווח בין התגים */
    margin-top: 1rem; /* רווח מעל התגים */
}

.tag {
    background-color:  #f8f9fa;
    border-radius: 8px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: #d0d0d0;
}
